<!-- Navbar thanh menu do a -->
<header class="max-w-7xl mx-auto mt-17 mb-23.5">
  <nav class="flex justify-between items-center">
    <a href="#">
      <img src="src/assets/img/FASCO.svg" alt="" />
    </a>
    <ul class="flex gap-15 items-center">
      <li>
        <a href="#" class="font-poppins font-normal">Home</a>
      </li>
      <li>
        <a href="#" class="font-poppins font-normal">Details</a>
      </li>
      <li>
        <a href="#" class="font-poppins font-normal">New Arrivals</a>
      </li>
      <li>
        <a href="#" class="font-poppins font-normal">Packages</a>
      </li>
      <li>
        <button class="font-poppins font-normal">Sign in</button>
      </li>
      <li>
        <button class="bg-black text-white px-11 py-5 rounded-2xl">
          Sign Up
        </button>
      </li>
    </ul>
  </nav>
</header>