/* 1. Tải Font từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@400;700&display=swap');
@import "tailwindcss";
@source "../components";

/* 2. Nạp tệp font local (Sửa lại đường dẫn nếu bạn để file ở chỗ khác) */
@font-face {
  font-family: 'Digital Numbers';
  src: url('./assets/fonts/DigitalNumbers.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 3. Khai báo Màu & Font cho Tailwind v4 */
@theme {
  /* Màu chủ đạo FASCO */
  --color-primary: #222222;
  --color-sale: #FF4D4D;
  --color-star: #FFB800;

  --color-main: #222222;
  --color-muted: #767676;
  --color-border: #E5E5E5;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-silver: #E0E0E0;
  --color-dark-brown: #484848;
  --color-medium-gray: #8A8A8A;
  --color-medium-dark-gray: #767676;
  --color-off-white: #FAFAFA;
  --color-red: #FF4646;
  --color-pale-smoke: #F8F8F8;
  --color-light-gray: #DADADA;
  --color-platinum: #DEDFE1;
  /* Font chữ & Bo góc */
  --font-volkhov: "Volkhov", serif;
  --font-jost: "Jost", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-digital-number: "Digital Numbers", sans-serif;

  --radius-main: 8px;
}#DEDFE1